.data-row{
    padding: 5px 0px;
}

.info-box{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
    align-items: center;
    grid-gap:15px;
}

.labels-container, .inputs-container {
    display: flex;
    flex-direction: column;
}

.labels-container{
    grid-column: 1;
}

.inputs-container{
    grid-column: 2;
}

.double-data{
    display: flex;
}

.form-control{
    width: 10px;
}

.intermediate-form-item{
    padding-left: 20px;
    min-width: 150px;
}

.intermediate-form-item-short{
    padding-left: 20px;
    min-width: 35px;
}

.intermediate-form-item-short-2{
    padding-left: 20px;
    min-width: 60px;
}
